.masthead-title {
    text-align: center;
}

.masthead-title img {
    display:inline;
}

ul.posts {
    list-style: none;
    padding-left: 0;
}

.masthead {
    margin: 0;
}

nav.header { 
    border-bottom: solid 1px #eee;
    text-align: center;
}

nav a {
    margin: 20px;
}
nav a.active {
    pointer-events: none;
    cursor: default;
    color: #000;
}

div.profile img, div.profile div {
    float: left;
}

div.profile img {
    max-width: 100px;
    margin-right: 10px;
}

div.profile:after {
    content: '';
    display: table;
    clear: both;
}

section.publication p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

section.publication p, section.publication a{
    margin: 0;
    font-size: 15px;
    line-height: 15px;
}