.masthead-title {
    text-align: center;
}

.masthead-title img {
    display:inline;
}

ul.posts {
    list-style: none;
    padding-left: 0;
}

.masthead {
    margin: 0;
}

nav.header { 
    border-bottom: solid 1px #eee;
    text-align: center;
}

nav a {
    margin: 20px;
}
nav a.active {
    pointer-events: none;
    cursor: default;
    color: #000;
}